.none {
  display: none; }

.visible {
  visibility: visible; }

.hidden {
  visibility: hidden; }

.pull_left {
  float: left; }

.pull_right {
  float: right; }

.text_left {
  text-align: left; }

.text_center {
  text-align: center; }

.text_right {
  text-align: right; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }
