.card {
  border: 1px solid #222;
  box-shadow: 1px 0px 9px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #222;
  color: #b9b9b9; }
  .card-title {
    color: #a6a6a6;
    padding: 15px; }
  .card-footer {
    background: rgba(0, 0, 0, 0.7); }
